<table>
    <% var i; for(i=0; i < quizes.length; i++) { %>
        <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
</table>
<br>
<br>
<form method="GET" action="/quizes">
  <p>Buscador: </p>
  <input type="text" name="search" value="Texto a buscar..."/>
  <input type="submit" value="Buscar"/>    
</form>
